html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #6495ED;
}

select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

label {
  display: block;
}

.marker-tt-type {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.marker-tt-tweet {
  min-height: 200px;
  max-height: 400px;
}

.marker-tt-photo {
  display: block;
  cursor: pointer;
}

.marker-tt-photo img {
  width: 100%;
}

.report-add-form select,
.report-add-form input,
.report-add-form button {
  display: block;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}

.report-add-form input[type="text"] {
  border: solid 1px gray;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: calc(100% - 1.5rem);
  background-color: white;
}

#map {
  height: 100%;
}

#about {
  position: absolute;
  width: calc(60% - 100px);
  height: 10rem;
  bottom: 1rem;
  left: 1rem;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  overflow-y: auto;
}

#about img {
  max-height: 5rem;
}

/* MOBILE DEVICES / SMALL SCREENS  */
@media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
  html, body, button, input, select, option {
    font-size: 40px;
  }

  .gm-style .gm-style-iw {
    font-size: 40px;
  }

  #about {
    display: block;
  }
}
