#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media only screen and (min-device-width: 1px) and (max-device-width: 768px) {
  html, body {
    font-size: 40px;
  }

  .gm-style .gm-style-iw {
    font-size: 40px;
  }
}

.marker-tt-type {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.marker-tt-tweet {
  min-height: 200px;
  max-height: 400px;
}

#report-add-form-coords {
  margin-bottom: 0.5rem;
}